html {background-color: #ffffff;}
body {margin: 0px;}
  
header {
    background-color: #db5405;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .logo-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    padding: 6px 10px; 
    text-decoration: none;
    border-radius: 5px; /* Agrega bordes redondeados */
    transition: background-color 0.3s ease; 
  }
  
  nav ul li a:hover {
    background-color: rgba(25, 14, 175, 0.2); 
  }
  
  
  @media (max-width: 600px) {
   
    nav ul li {
      display: block;
      margin: 10px 0; 
    }
  }
  


/* Estilos para los íconos */
/* Estilos para los íconos */
.iconos {
    position: relative;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .icono {
    display: inline-block;
    width: 120px; /* Ancho fijo para los contenedores de los íconos */
    margin: 0 10px; /* Ajuste del margen izquierdo y derecho para centrarlos */
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 50%; /* Asegura que el contenedor sea un círculo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega sombra alrededor del círculo */
  }
  
  .icono:hover {
    transform: scale(1.1);
  }
  
  .icono img {
    width: 100%; /* Ajusta el tamaño de la imagen para llenar el contenedor del icono */
    height: auto;
    border-radius: 50%; /* Asegura que la imagen dentro del círculo sea redonda */
  }
  
  /* Media query para ajustar los íconos en pantallas pequeñas */
  @media (max-width: 768px) {
    .icono {
      width: 80px; /* Reducir el ancho de los contenedores de los íconos */
      margin: 0 5px; /* Ajuste del margen izquierdo y derecho para centrarlos */
    }
  }
  



















  /* Estilos para el banner */
  .banner {
    position: relative;
    width: 100%;
    height: auto; /* Permitir que la altura del banner se ajuste según el contenido */
    overflow: hidden;
    text-align: center; /* Centrar el texto horizontalmente */
  }
  
  .banner .imagen {
    width: 100%;
    height: auto;
  }
  
  .banner .texto {
    position: absolute;
    top: 50%; /* Alinea el texto en el centro vertical del banner */
    left: 50%; /* Alinea el texto en el centro horizontal del banner */
    transform: translate(-50%, -50%);
    text-align: center; /* Centrar el texto horizontalmente */
    color: #fff;
    width: 90%; /* Ajusta el ancho del texto */
  }
  
  .banner .texto h1 {
    font-size: 3vw; /* Tamaño de fuente relativo */
    margin-bottom: 10px; /* Espacio entre el título y el párrafo */
  }
  
  .banner .texto p {
    font-size: 2vw; /* Tamaño de fuente relativo */
  }
  
  @media (max-width: 768px) {
    .banner .texto h1 {
      font-size: 24px; 
      text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);/* Tamaño de fuente en píxeles para dispositivos pequeños */
    }
    .banner .texto p {
      font-size: 16px;
      text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5); /* Tamaño de fuente en píxeles para dispositivos pequeños */
    }
  }
  























  
  body, header, .banner, footer, main img {
    transition: background-color 0.5s, opacity 0.5s, filter 0.5s;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #fff;
  }
  
  .dark-mode header, .dark-mode .banner, .dark-mode footer {
    background-color: #000;
  }
  
  .dark-mode main img {
    filter: brightness(0.6); 
  }
  
  .dark-mode body, .dark-mode header, .dark-mode .banner, .dark-mode footer, .dark-mode main img {
    filter: brightness(0.6); 
  }
  
  
  /* Estilos para el botón de modo oscuro */
  #modoOscuroBtn {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background-color: #646464; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  
  .dark-mode #modoOscuroBtn {
    background-color: #2e2e2e; 
  }
    
/* Estilos para el footer */
footer {
    
    bottom: 0;
    width: 100%;
    background-color: #d34f03;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



  #character {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Asegura que el personaje esté por encima de otros elementos */
    cursor: pointer;
    width: 50px; /* Tamaño del personaje */
    height: auto;
  }
  
  
  #character:hover {
    transform: scale(1.1);
  }
  




  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.juego {
    width: 220px; /* Aumentamos el ancho para dejar espacio para el texto */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease;
    display: flex; /* Para alinear verticalmente el contenido */
    flex-direction: column; /* Alinear el contenido en una columna */
    align-items: center; /* Centrar horizontalmente */
}

.juego:hover {
    transform: translateY(-5px);
}

.juego img {
    width: 100%;
    border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior */
}

/* Estilos para el texto del juego */
.juego .info {
    padding: 10px;
    text-align: center;
}

.juego .info h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.juego .info p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

/* Estilos específicos para el catálogo */
#gameCatalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

